.container {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.image img {
    width: 600px;
    height: 500px;
}

.text-area {
    margin-top: 80px;
    padding-left: 100px;
    font-style: italic;
}

.text-area h1 {
    font-size: 40px;
}

.customer-container {
    margin: 10px;
    text-align: center;
}

.customer-container h1 {
    font-size: 40px;
}

.link-btn {
    text-decoration: none;
    padding: 10px;
    border: none;
    background-color: rgb(45, 91, 136);
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.customer-review {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
}